*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: aqua;
}
.abc{
    height: 20%;
    width: 20%;
    background-color: yellow;
    border-radius: 50%;
    /* rotate: 45deg; */
    
    
}