* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden ;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center;

}
#nav{
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
}
#nav h1{
    color: #fff;
}
#nav i{
    font-size: 20px;
    /* color: #fff; */
    cursor: pointer;

}
#full{
    position: absolute;
    right: -40%;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: #ffffff41;
    padding: 150px 60px;
    backdrop-filter: blur(10px);
}
#full h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    
}
#full i{
    font-size: 20px;
    position: absolute;
    top: 5%;
    right: 10%;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
}