@font-face {
    font-family: font1;
    src: url(./CircularXXWeb-Book.woff2);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: font1;
}
html, body{
    height: 100%;
    width: 100%;

}
section{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}
nav h1{
    font-size: 50px;
}
nav h1 i{
    display: inline-block;
    rotate: 45deg;
}
#navp2{
    display: flex;
    gap: 80px;
    align-items: center;
}
nav h2{
    font-size: 30px;
    font-weight: 500;
}
nav button{
    padding: 18px 30px;
    font-size: 25px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    border: 1px solid black;
}
#center{
    height: 79%;
    width: 100%;
    display: flex;
}
#cntr-left{
    width: 45%;
    height: 100%;
    padding: 40px 60px;

}

#cntr-left h1{
    font-size: 100px;
}
#cntr-left p{
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#cntr-left button{
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #111;
    color: #fff;
}
#cntr-right{
    width: 55%;
    height: 100%;
    position: relative;
}
#cntr-right img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
}
#section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.services h3{
    font-size: 50px;
    margin-top: 150px;
    background-color: #B9FF66;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 130px;
}
.container{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 120px;
}
.elem{
    flex-shrink: 0;
    width: 45%;
    height: 400px;
    padding: 60px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0px 15px 0px green ;
    display: flex;
}
.elem-p1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.elem-p2{
    height: 100%;
    width: 50%;
}
.elem-p2 img{
    height: 100%;

}
.elem-p1 h2{
    font-size: 37px;
    width: 70%;
    padding: 0 5px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #B9FF66;
}
.elem-p1 h3{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    gap: 50px;
}
.elem-p1 h3 i{
    padding: 20px;
    background-color: #111;
    color: #fff;
    font-weight: 900;
    border-radius: 50px;
}
.black{
    background-color: #111;

}
.black h2{
    background-color: #fff;

}
.black h3{
    color: #fff;
}
.black h3 i{
    background-color: #fff;
    color: #111;
}